{{#each cartData}}
  <h2>{{product.title}}</h2>
  <p> Descripción:{{product.description}}</p>
  <p> $:{{product.price}}</p>
  <p> Código:{{code}}</p>
  <p> {{thumbnails}}</p>
  <p> ID:{{product._id}}</p>
  <p> Cantidad:{{quantity}}</p>
{{/each}}
