<div class="titulo">Productos</div>
<h2>Welcome {{user.first_name}}</h2>
<h4>Your email is: {{user.email}}</h4>

<button><a href="/api/sessions/signout">Sing Out</a></button>
<div class="listaProductos">
  {{#each listadeproductos}}
    <article class="container">
      <div class="card">
        <div class="img">
          <img src="{{thumbnail}}" width="150" />
        </div>
        <div class="content">
          <h2>Titulo:{{title}}</h2>
          <div class="size">
            <h3> Descripcion: {{description}}</h3>
            <h4> Stock: {{stock}}</h4>
          </div>
          <div>
            <h3>Price: {{price}}</h3>
          </div>
        </div>
      </div>
    </article>
  {{/each}}
</div>